POSTGRES_PRISMA_URL="postgresql://postgres:YOUR_PASSWORD@db.zluijpnbhlmuclkrswti.supabase.co:5432/postgres"
POSTGRES_URL_NON_POOLING="postgresql://postgres:YOUR_PASSWORD@db.zluijpnbhlmuclkrswti.supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://zluijpnbhlmuclkrswti.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="YOUR_SUPABASE_PUBLISHABLE_KEY"
